<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">
        <div class="clearfix" id="stars">
        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full py-2 mt-4 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  {% include {{ site.social_link | default: "twitter" }}.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include github.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include dot.html %}
                </div>
              </div>
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>

          </div>

        </div>
        </div>
      </header>
      {% include header_home.html %}

      <div class="container mx-auto px-2 py-4">
        {% for post in site.posts %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>


</html>
